Hello World!

<table>
    {% for entity in entities %}
        <tr><td>{{ entity.firstName }}</td></tr>
        <tr><td>{{ entity.lastName }}</td></tr>
        <tr><td>{{ entity.description }}</td></tr>
        <tr><td>{{ entity.date|date }}</td></tr>
    {% endfor %}
</table>